<template>
  <div class="home">
    <div class="cover-img">
      <img src="../assets/Basic_Ui__28186_29.jpg" />
    </div>
    <p>{{ date | moment("dddd, DD MMMM YYYY") }}</p>
    <!-- <p>
      {{
        date
          | moment(
            "add",
            "2 years, 8 days",
            "subtract",
            "3 days",
            "ddd, DD MMM YYYY"
          )
      }}
    </p> -->
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: "Home",
  data: () => {
    return {
      date: new Date(),
    };
  },
};
</script>
<style lang="scss" scoped>
.home ::v-deep {
  text-align: center;
  background-image: url("../assets/background.jpg");
  background-size: cover;
  height: 100%;

  p {
    font-size: 30px;
    margin-bottom: 0px;
    position: relative;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
  }

  .cover-img {
    height: 220px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    img {
      border-radius: 4px;
    }
  }
}
</style>
