<template>
  <div>
    <div class="div-input">
      <b-button class="btn-show-vee" v-on:click="showModal()"
        >Create (VeeValidate)</b-button
      >
      <b-button class="btn-show-vue" v-on:click="showVueModal()"
        >Create (Vuelidate)</b-button
      >
      <input
        type="text"
        v-model="valueData"
        class="inp-value"
        placeholder="Search..."
      />
      <button class="button button-animation" v-on:click="searchById()">
        Search by id
      </button>
      <button
        class="button button-animation btn-search-name"
        v-on:click="searchByName()"
      >
        Search by name
      </button>
    </div>

    <Spinner
      :isLoading="$store.state.isLoading ? $store.state.isLoading : false"
    />

    <div class="list-data" v-if="listData.length > 0">
      <div v-for="data in listData" :key="data.id" class="list-item">
        <div class="cover-img" v-on:click="getUserByID(data.id)">
          <img src="../assets/Basic_Ui__28186_29.jpg" />
        </div>
        <div class="div-info">
          <p
            class="ellipsis"
            :title="data.name"
            v-font-size.medium
            v-font-color
          >
            <strong>{{ data.name }} (id: {{ data.id }})</strong>
          </p>
          <p class="ellipsis resize-p" :title="data.email" v-font-size.medium>
            Email: {{ data.email }}
          </p>
          <p class="ellipsis resize-p" :title="data.phone" v-font-size.small>
            Phone: {{ data.phone }}
          </p>
          <p class="ellipsis" :title="data.website" v-font-size.small>
            Website: {{ data.website }}
          </p>
        </div>
        <div class="cls-remove">
          <b-button
            class="btn-edit-user"
            title="Edit"
            v-on:click="getUserByID(data.id)"
          >
            <a-icon type="edit" class="icon-edit-user"
          /></b-button>
          <b-button
            variant="outline-danger"
            title="Delete"
            v-on:click="showRemoveModal(data.id)"
            ><a-icon type="delete" class="icon-delete-user"
          /></b-button>
        </div>
      </div>
    </div>
    <div class="no-list-data" v-if="listData.length == 0">Not found item</div>

    <!-- Create and Edit user according to VeeValidate -->
    <b-modal ref="my-modal" hide-footer title="Create a new user">
      <div class="mo-body">
        <ValidationObserver ref="observer">
          <form @submit.prevent="createUser">
            <ValidationProvider
              name="name"
              rules="required|min:3|max:15"
              :bails="false"
              v-slot="{ classes, errors }"
            >
              <div class="control" :class="classes">
                <label>Name</label><br />
                <input
                  type="text"
                  v-model="user.name"
                  placeholder="Enter name"
                />
                <span>{{ errors[0] }}</span>
              </div>
            </ValidationProvider>

            <ValidationProvider
              name="email"
              rules="required|formatEmail|isExist"
              :bails="false"
              v-slot="{ classes, errors }"
            >
              <div class="control" :class="classes">
                <label>Email</label><br />
                <input
                  type="text"
                  v-model="user.email"
                  placeholder="Enter email"
                />
                <span>{{ errors[0] }}</span>
              </div>
            </ValidationProvider>

            <ValidationProvider
              name="phone"
              rules="required|min:10|max:12"
              :bails="false"
              v-slot="{ classes, errors }"
            >
              <div class="control" :class="classes">
                <label>Phone</label><br />
                <input
                  type="text"
                  v-model="user.phone"
                  placeholder="Enter phone"
                />
                <span>{{ errors[0] }}</span>
              </div>
            </ValidationProvider>

            <ValidationProvider
              name="website"
              rules="required"
              :bails="false"
              v-slot="{ classes, errors }"
            >
              <div class="control" :class="classes">
                <label>Website</label><br />
                <input
                  type="text"
                  v-model="user.website"
                  placeholder="Enter website"
                />
                <span>{{ errors[0] }}</span>
              </div>
            </ValidationProvider>
          </form>
        </ValidationObserver>
      </div>
      <div class="mo-footer">
        <b-button class="btn-create" v-on:click="createUser()">Create</b-button>
        <b-button variant="outline-danger" v-on:click="hideModal()"
          >Close</b-button
        >
      </div>
    </b-modal>

    <b-modal ref="my-modal-edit" hide-footer title="Edit an user">
      <div class="mo-body">
        <ValidationObserver ref="observer">
          <form @submit.prevent="editUser">
            <ValidationProvider
              name="name"
              rules="required|min:3|max:15"
              :bails="false"
              v-slot="{ classes, errors }"
            >
              <div class="control" :class="classes">
                <label>Name</label><br />
                <input
                  type="text"
                  v-model="user.name"
                  placeholder="Enter name"
                />
                <span>{{ errors[0] }}</span>
              </div>
            </ValidationProvider>

            <ValidationProvider
              name="email"
              rules="required|formatEmail"
              :bails="false"
              v-slot="{ classes, errors }"
            >
              <div class="control" :class="classes">
                <label>Email</label><br />
                <input
                  type="text"
                  v-model="user.email"
                  placeholder="Enter email"
                />
                <span>{{ errors[0] }}</span>
              </div>
            </ValidationProvider>

            <ValidationProvider
              name="phone"
              rules="required|min:10|max:12"
              :bails="false"
              v-slot="{ classes, errors }"
            >
              <div class="control" :class="classes">
                <label>Phone</label><br />
                <input
                  type="text"
                  v-model="user.phone"
                  placeholder="Enter phone"
                />
                <span>{{ errors[0] }}</span>
              </div>
            </ValidationProvider>

            <ValidationProvider
              name="website"
              rules="required"
              :bails="false"
              v-slot="{ classes, errors }"
            >
              <div class="control" :class="classes">
                <label>Website</label><br />
                <input
                  type="text"
                  v-model="user.website"
                  placeholder="Enter website"
                />
                <span>{{ errors[0] }}</span>
              </div>
            </ValidationProvider>
          </form>
        </ValidationObserver>
      </div>
      <div class="mo-footer">
        <b-button class="btn-create" v-on:click="editUser()">Edit</b-button>
        <b-button variant="outline-danger" v-on:click="hideModalEdit()"
          >Close</b-button
        >
      </div>
    </b-modal>

    <!-- Create user according to Vuelidate -->
    <b-modal ref="vue-my-modal" hide-footer title="Create a new user">
      <div class="form">
        <div class="form-wrapper">
          <form @submit.prevent="submit">
            <fieldset class="float-label-field">
              <label for="name">Name</label>
              <input
                id="name"
                type="text"
                placeholder="Enter name"
                v-model.trim="$v.name.$model"
                :class="{
                  'is-invalid': $v.name.$error,
                  'is-valid': !$v.name.$invalid,
                }"
                autocomplete="off"
              />
              <div class="invalid-feedback">
                <span v-if="!$v.name.required">Name is required</span>
                <span v-if="!$v.name.minLength"
                  >Name must have at least
                  {{ $v.name.$params.minLength.min }} characters
                </span>
                <span v-if="!$v.name.maxLength">
                  Name must have at most
                  {{ $v.name.$params.maxLength.max }} characters
                </span>
              </div>
            </fieldset>

            <fieldset class="float-label-field">
              <label for="email">Email</label>
              <input
                id="email"
                type="text"
                placeholder="Enter email"
                v-model.trim="$v.email.$model"
                :class="{
                  'is-invalid': $v.email.$error,
                  'is-valid': !$v.email.$invalid,
                }"
                autocomplete="off"
              />
              <div class="invalid-feedback">
                <span v-if="!$v.email.required">Email is required</span>
                <span v-if="!$v.email.email">Email is invalid</span>
                <span v-if="!$v.email.isUnique">
                  A user with that email already exists!
                </span>
              </div>
            </fieldset>

            <fieldset class="float-label-field">
              <label for="phone">Phone number</label>
              <input
                id="phone"
                type="text"
                placeholder="Enter phone"
                v-model.trim="$v.phone.$model"
                :class="{
                  'is-invalid': $v.phone.$error,
                  'is-valid': !$v.phone.$invalid,
                }"
                autocomplete="off"
              />
              <div class="invalid-feedback">
                <span v-if="!$v.phone.required">Phone number is required</span>
                <span v-if="!$v.phone.minLength">
                  Phone must have at least
                  {{ $v.phone.$params.minLength.min }} characters
                </span>
                <span v-if="!$v.phone.maxLength">
                  Phone must have at most
                  {{ $v.phone.$params.maxLength.max }} characters minimum
                </span>
              </div>
            </fieldset>

            <fieldset class="float-label-field">
              <label for="website">Website</label>
              <input
                id="website"
                type="website"
                placeholder="Enter website"
                v-model.trim="$v.website.$model"
                :class="{
                  'is-invalid': $v.website.$error,
                  'is-valid': !$v.website.$invalid,
                }"
                autocomplete="off"
              />
              <div class="invalid-feedback">
                <span v-if="!$v.website.required">Website is required</span>
              </div>
            </fieldset>
          </form>
        </div>
      </div>

      <div class="mo-footer">
        <b-button class="btn-create" v-on:click="submit()">Create</b-button>
        <b-button variant="outline-danger" v-on:click="hideVueModal()"
          >Close</b-button
        >
      </div>
    </b-modal>

    <b-modal ref="remove-modal" hide-footer title="Remove an user">
      <p>Do you want to remove this user?</p>

      <div class="mo-footer">
        <b-button class="btn-create" v-on:click="deleteUser(user_id_remove)"
          >Delete</b-button
        >
        <b-button variant="outline-danger" v-on:click="closeRemoveModal()"
          >Close</b-button
        >
      </div>
    </b-modal>
  </div>
</template>

<script>
import {
  required,
  minLength,
  maxLength,
  email,
} from "vuelidate/lib/validators";
import Spinner from "../components/Spinner";
import HTTP from "../axios/axiosInstance";
import axios from "axios";

export default {
  name: "User",
  data() {
    return {
      listData: [],
      valueData: "",
      user: {},
      user_id: "",
      user_id_remove: "",

      //Vuelidate
      name: "",
      phone: "",
      email: "",
      website: "",
    };
  },

  components: {
    Spinner,
  },

  //Vuelidate
  validations: {
    name: {
      required,
      minLength: minLength(3),
      maxLength: maxLength(15),
    },
    email: {
      required,
      email,
      async isUnique(value) {
        if (value === "") return true;

        let isFail = null;
        await axios
          .get("http://jsonplaceholder.typicode.com/users")
          .then((json) => {
            isFail = json.data.some((val) => val.email == value);
          });
        return !isFail;
      },
    },
    phone: {
      required,
      minLength: minLength(10),
      maxLength: maxLength(12),
    },
    website: {
      required,
    },
  },

  mounted() {
    this.getListData();
  },

  methods: {
    getListData() {
      HTTP.get("users").then((response) => {
        if (response.statusText == "OK") {
          this.listData = response.data;
        } else {
          alert("Download data failed. Try again");
        }
      });
    },

    searchById() {
      if (this.valueData) {
        HTTP.get("users?id=" + this.valueData).then((response) => {
          if (response.statusText == "OK") {
            this.listData = response.data;
          } else {
            alert("Download data failed. Try again");
          }
        });
      } else {
        this.getListData();
      }
    },

    searchByName() {
      if (this.valueData) {
        HTTP.get("users?name=" + this.valueData).then((response) => {
          if (response.statusText == "OK") {
            this.listData = response.data;
          } else {
            alert("Download data failed. Try again");
          }
        });
      } else {
        this.getListData();
      }
    },

    createUser() {
      this.$refs.observer.validate().then((result) => {
        if (result) {
          HTTP.post("users", this.user).then((response) => {
            if (response.statusText == "Created") {
              this.listData.push(response.data);
              this.hideModal();
            } else {
              alert("Operation failed. Please do it again");
            }
          });
        }
      });
    },

    getUserByID(userID) {
      axios
        .get("http://jsonplaceholder.typicode.com/users/" + userID)
        .then((response) => {
          if (response.status) {
            this.user = response.data;
            this.showModalEdit();
            this.user_id = userID;
          } else {
            alert("Download data failed. Try again");
          }
        });
    },

    editUser() {
      this.$refs.observer.validate().then((result) => {
        if (result) {
          HTTP.put("users/" + this.user_id, this.user).then((response) => {
            if (response.statusText == "OK") {
              var index = this.listData
                .map(function (x) {
                  return x.id;
                })
                .indexOf(response.data.id);
              this.listData.splice(index, 1, response.data);
              this.hideModalEdit();
            } else {
              alert("Operation failed. Please do it again");
            }
          });
        }
      });
    },

    showModal() {
      this.$refs["my-modal"].show();
      this.user = {
        name: "",
        phone: "",
        email: "",
        website: "",
      };
    },

    hideModal() {
      this.$refs["my-modal"].hide();
    },

    showModalEdit() {
      this.$refs["my-modal-edit"].show();
    },

    hideModalEdit() {
      this.$refs["my-modal-edit"].hide();
    },

    //Vuelidate
    showVueModal() {
      this.$refs["vue-my-modal"].show();
      this.$v.$reset();
      this.name = "";
      this.phone = "";
      this.email = "";
      this.website = "";
    },

    hideVueModal() {
      this.$refs["vue-my-modal"].hide();
    },

    submit() {
      this.$v.name.$touch();
      this.$v.email.$touch();
      this.$v.phone.$touch();
      this.$v.website.$touch();
      this.user = {
        name: this.name,
        phone: this.phone,
        email: this.email,
        website: this.website,
      };
      if (!this.$v.$invalid) {
        HTTP.post("users", this.user).then((response) => {
          if (response.statusText == "Created") {
            this.listData.push(response.data);
            this.hideVueModal();
          } else {
            alert("Operation failed. Please do it again");
          }
        });
      }
    },

    showRemoveModal(userId) {
      this.$refs["remove-modal"].show();
      this.user_id_remove = userId;
    },

    closeRemoveModal() {
      this.$refs["remove-modal"].hide();
    },

    deleteUser() {
      HTTP.delete("users/" + this.user_id_remove).then((response) => {
        if (response.statusText == "OK") {
          var index = this.listData
            .map(function (x) {
              return x.id;
            })
            .indexOf(this.user_id_remove);
          this.listData.splice(index, 1);
          this.closeRemoveModal();
        } else {
          alert("Operation failed. Please do it again");
        }
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.div-input ::v-deep {
  margin-left: 10px;
  text-align: right;

  .btn-show-vee {
    float: left;
    margin-right: 5px;
    padding: 2px;
    margin-top: 3px;
  }

  .btn-show-vue {
    float: left;
    padding: 2px;
    margin-top: 3px;
  }

  .inp-value {
    margin-right: 2px;

    border: 1px grey solid;
    outline: none;
    border-radius: 3px;
    padding-left: 5px;

    &:focus {
      animation-name: animation;
      animation-duration: 0.5s;
      border: 2px rgba(0, 140, 255, 0.6) solid;
      outline: 0 none;
    }
  }
}

.cover-img ::v-deep {
  height: 210px;
  padding: 5px;
  border-bottom: 1px solid black;

  img {
    width: 100%;
    height: 200px;
  }
}

.list-data ::v-deep {
  display: flex;
  flex-wrap: wrap;

  .list-item {
    width: 230px;
    height: auto;
    border: 1px solid #000;
    border-radius: 3px;
    margin: 10px;
    cursor: pointer;

    .div-info {
      padding: 5px;
    }

    .cls-remove {
      text-align: right;
      margin: 0px 10px 10px 10px;

      .icon-edit-user,
      .icon-delete-user {
        margin-left: auto;
        margin-right: auto;
        display: block !important;
      }
    }

    .btn-edit-user {
      margin-right: 5px;
    }
  }
}

.resize-p {
  margin-bottom: 1px;
}

.no-list-data {
  margin-left: 10px;
}

.mo-footer ::v-deep {
  float: right;
  margin-top: 10px;

  .btn-create,
  .btn-edit {
    margin-right: 5px;
  }
}

$button-color: #4b4b4b;
.button {
  background-color: $button-color;
  border: none;
  padding: 2px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 3px;
  &-animation {
    background-color: rgb(139, 139, 139);
    color: rgb(255, 255, 255);
    &:hover {
      background-color: $button-color;
      color: white;
    }
  }
}

.btn-search-name {
  margin-right: 10px;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.control {
  width: 100%;

  span {
    display: block;
  }

  input {
    padding: 5px 10px;
    border: 1px grey solid;
    outline: none;
    border-radius: 3px;
    margin-bottom: 5px;
    width: 100%;
    &:focus {
      animation-name: animation;
      animation-duration: 0.5s;
      border: 2px rgba(0, 140, 255, 0.6) solid;
      outline: 0 none;
    }
  }

  &.invalid {
    span {
      color: #eb0600;
      animation-name: animation;
      animation-duration: 0.5s;
      font-size: 12.8px;
    }

    input {
      border: 1px rgba(255, 44, 29, 0.6) solid;
    }
  }

  @keyframes animation {
    from {
      color: transparent;
    }
  }
}

.float-label-field ::v-deep {
  input {
    padding: 5px 10px;
    border: 1px grey solid;
    outline: none;
    border-radius: 3px;
    margin-bottom: 5px;
    width: 100%;
    &:focus {
      animation-name: animation;
      animation-duration: 0.5s;
      border: 2px rgba(0, 140, 255, 0.6) solid;
      outline: 0 none;
    }
  }

  .is-invalid {
    border: 1px rgba(255, 44, 29, 0.6) solid !important;
  }

  .invalid-feedback {
    color: #eb0600;
    animation-name: animation;
    animation-duration: 0.5s;
    margin-top: 0px;
  }
}
</style>
