<template>
  <a-layout id="components-layout-demo-side" style="min-height: 100vh">
    <a-layout-sider class="cls-layout-sider" v-theme="theme">
      <div class="logo">
        <img src="./assets/logo.png" alt="logo" />
      </div>
      <a-menu v-theme="theme" :default-selected-keys="['1']" mode="inline">
        <a-menu-item key="1">
          <a-icon type="home" />
          <span>Home</span>
          <router-link to="/" />
        </a-menu-item>
        <a-menu-item key="2">
          <a-icon type="user" />
          <span>User</span>
          <router-link to="/user" />
        </a-menu-item>
      </a-menu>
      <div style="padding: 10px; text-align: center">
        <a-radio-group :value="theme" v-on:change="handleChange">
          <a-radio-button value="light"> Light </a-radio-button>
          <a-radio-button value="dark"> Dark </a-radio-button>
        </a-radio-group>
      </div>
    </a-layout-sider>

    <a-layout>
      <a-layout-content style="margin: 16px 16px 16px 0px">
        <div
          v-theme="theme"
          :style="{ padding: '10px', background: '#fff', height: '100%' }"
        >
          <router-view />
        </div>
      </a-layout-content>
    </a-layout>
  </a-layout>
</template>
<script>
export default {
  data() {
    return {
      theme: "light",
    };
  },

  methods: {
    handleChange(e) {
      this.theme = e.target.value;
    },
  },
};
</script>

<style>
#components-layout-demo-side .logo {
  height: 32px;
  margin: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#components-layout-demo-side .logo img {
  height: 40px;
}

.cls-layout-sider {
  margin: 16px;
}

a:-webkit-any-link {
  text-decoration: none !important;
  color: grey;
}

a:-webkit-any-link:hover {
  text-decoration: none !important;
  color: rgb(75, 75, 75);
}
</style>